vless://{{ user_uuid }}@{{ IP_subject_alt_name }}:{{ xray_port }}?encryption=none&flow={{ xray_flow }}&security=reality&sni={{ xray_reality_sni }}&fp=chrome&pbk={{ xray_reality_public_key }}&sid={{ xray_reality_short_id }}&type=tcp#{{ algo_server_name }}-{{ item }}
