*.retry
.idea/
configs/*
inventory_users
*.kate-swp
.env/
.venv/
.DS_Store
.vagrant
.ansible/collections/
.ansible/modules/
.ansible/roles/
__pycache__/
*.pyc
algo.egg-info/
/tests/integration/test-configs/
/tests/integration/test-run.log
