[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.11.3"
ansible = "==4.4.0"
netaddr = "*"
Jinja2 = "~=3.0.1"

[dev-packages]

[requires]
python_version = "3"
