# strongswan.conf - strongSwan configuration file
#
# Refer to the strongswan.conf(5) manpage for details
#
# Configuration changes should be made in the included files

charon {
	load_modular = yes
	plugins {
		include strongswan.d/charon/*.conf
	}
	user = strongswan
	group = nogroup
{% if ansible_distribution == 'FreeBSD' %}
	filelog {
		charon {
			path = /var/log/charon.log
			time_format = %b %e %T
			ike_name = yes
			append = no
			default = 1
			flush_line = yes
		}
	}
{% endif %}
}

include strongswan.d/*.conf
