# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

Listen {{ local_service_ip }}:8080

<IfModule ssl_module>
	Listen {{ local_service_ip }}:443
</IfModule>

<IfModule mod_gnutls.c>
	Listen {{ local_service_ip }}:443
</IfModule>
