##############################################
#                                            #
#        dnscrypt-proxy configuration        #
#                                            #
##############################################

## Online documentation: https://dnscrypt.info/doc


{% include 'dnscrypt-proxy/global.toml.j2' %}


{% include 'dnscrypt-proxy/cache.toml.j2' %}


{% include 'dnscrypt-proxy/filters.toml.j2' %}


{% include 'dnscrypt-proxy/sources.toml.j2' %}
