---
- name: restart rsyslog
  service: name=rsyslog state=restarted

- name: flush routing cache
  shell: echo 1 > /proc/sys/net/ipv4/route/flush
  changed_when: false

- name: restart systemd-networkd
  systemd:
    name: systemd-networkd
    state: restarted
    daemon_reload: true

- name: restart systemd-resolved
  systemd:
    name: systemd-resolved
    state: restarted

- name: restart iptables
  service: name=netfilter-persistent state=restarted

- name: netplan apply
  command: netplan apply
  changed_when: false
