<VirtualHost *:*>
    <Proxy *>
            Order deny,allow
            Allow from all
    </Proxy>
    RewriteEngine On
    RewriteRule ^(.*)$ http://%{HTTP_HOST}$1 [NC,P]
    ProxyPass            /  http://$1
    ProxyPassReverse     /  http://$1
    ProxyPreserveHost On
</VirtualHost>
