###########################
#        DNS cache        #
###########################

## Enable a DNS cache to reduce latency and outgoing traffic
cache = true

## Cache size
cache_size = 4096

## Minimum TTL for cached entries
cache_min_ttl = 2400

## Maximum TTL for cached entries
cache_max_ttl = 86400

## Minimum TTL for negatively cached entries
cache_neg_min_ttl = 60

## Maximum TTL for negatively cached entries
cache_neg_max_ttl = 600
