#########################
#        Servers        #
#########################

## Remote lists of available servers
[sources]

  ## Public resolvers from https://github.com/DNSCrypt/dnscrypt-resolvers
  [sources.'public-resolvers']
  urls = ['https://raw.githubusercontent.com/DNSCrypt/dnscrypt-resolvers/master/v2/public-resolvers.md', 'https://download.dnscrypt.info/resolvers-list/v2/public-resolvers.md']
  cache_file = '/var/cache/dnscrypt-proxy/public-resolvers.md'
  minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
  prefix = ''



## Optional, local, static list of additional servers
[static]

{% if custom_server_stamps %}{% for name, stamp in custom_server_stamps.items() %}
  [static.'{{ name }}']
  stamp = '{{ stamp }}'
{%- endfor %}{% endif %}
