config setup
    charondebug="ike 2, knl 2, cfg 2, net 2, esp 2, dmn 2,  mgr 2"

conn %default
    keyexchange=ikev2
    ike=aes128gcm16-sha2_256-prfsha256-ecp256!
    esp=aes128gcm16-sha2_256-ecp256!
    dpdaction=clear
    dpddelay=300s
    authby=pubkey
    left=%any
    leftid={{ server_name }}
    leftsubnet=0.0.0.0/0
    leftcert={{ server_name }}.crt
    leftsendcert=always
    right=%any
    rightsourceip=10.0.0.0/24
    rightdns=8.8.8.8
    rightsendcert=never

conn IPSec-IKEv2
    keyexchange=ikev2
    auto=add

