#include <tunables/global>

/usr/sbin/privoxy {
  #include <abstractions/apache2-common>
  #include <abstractions/base>

  capability setgid,
  capability setuid,

  /etc/privoxy/* r,
  /etc/privoxy/templates/* r,
  /run/privoxy.pid w,
  /var/log/privoxy/logfile w,

}
