{
    "uuid": "{{ 600000 | random | to_uuid }}",
    "name": "Algo {{ IP_subject_alt_name }}",
    "type": "ikev2-cert",
    "remote": {
        "addr": "{{ IP_subject_alt_name }}"
    },
    "local": {
        "p12": "{{ item.1.stdout }}"
    },
    "mtu": 1280
}
