---
- name: Ensure the required config directories exist
  file:
    dest: "{{ item }}"
    state: directory
    recurse: true
    mode: "0755"
  loop:
    - "{{ wireguard_config_path }}/apple/ios"
    - "{{ wireguard_config_path }}/apple/macos"
  delegate_to: localhost
  become: false

- name: Include tasks for Debian/Ubuntu
  include_tasks: ubuntu.yml
  when: is_debian_based | bool
  tags: always


- name: Generate keys
  import_tasks: keys.yml
  delegate_to: localhost
  become: false
  tags: update-users

- tags: update-users
  block:
    - become: false
      delegate_to: localhost
      block:
        - name: WireGuard user list updated
          lineinfile:
            dest: "{{ wireguard_pki_path }}/index.txt"
            create: true
            mode: "0600"
            insertafter: EOF
            line: "{{ item }}"
          register: lineinfile
          loop: "{{ users }}"

        - set_fact:
            wireguard_users: "{{ (lookup('file', wireguard_pki_path + '/index.txt')).split('\n') }}"

        - name: WireGuard users config generated
          template:
            src: client.conf.j2
            dest: "{{ wireguard_config_path }}/{{ item }}.conf"
            mode: "0600"
          loop: "{{ wireguard_users }}"
          loop_control:
            index_var: index
          when: item in users

        - include_tasks: mobileconfig.yml
          loop:
            - ios
            - macos
          loop_control:
            loop_var: system

        - name: Generate QR codes
          shell: >
            umask 077;
            which segno &&
            segno --scale=5 --output={{ item }}.png \
              "{{ lookup('template', 'client.conf.j2') }}" || true
          changed_when: false
          loop: "{{ wireguard_users }}"
          loop_control:
            index_var: index
          when: item in users
          vars:
            ansible_python_interpreter: "{{ ansible_playbook_python }}"
          args:
            chdir: "{{ wireguard_config_path }}"
            executable: bash
          no_log: true

    - name: WireGuard configured
      template:
        src: server.conf.j2
        dest: "{{ config_prefix | default('/') }}etc/wireguard/{{ wireguard_interface }}.conf"
        mode: "0600"
      notify: restart wireguard

- name: WireGuard enabled and started
  service:
    name: "{{ service_name }}"
    state: started
    enabled: true

- name: Delete the PKI directory
  file:
    path: "{{ wireguard_pki_path }}"
    state: absent
  become: false
  delegate_to: localhost
  when:
    - not algo_store_pki
    - not pki_in_tmpfs

- meta: flush_handlers
