---
- name: Install wireguard repo (Debian)
  apt_repository:
    filename: unstable
    repo: 'deb http://deb.debian.org/debian/ unstable main'
    update_cache: yes
  when: ansible_distribution == 'Debian'

- name: Configure wireguard repo (Debian)
  blockinfile:
    path: /etc/apt/preferences.d/limit-unstable
    create: yes
    block: |-
      Package: *
      Pin: release a=unstable
      Pin-Priority: 90

- name: Configure wireguard repo (Debian)
  blockinfile:
    path: /etc/apt/preferences.d/wireguard
    create: yes
    block: |-
      Package: /wireguard/
      Pin: release a=unstable
      Pin-Priority: 500

- name: WireGuard installed
  apt:
    name: wireguard
    state: present
    update_cache: true

- name: WireGuard reload-module-on-update
  file:
    dest: /etc/wireguard/.reload-module-on-update
    state: touch

- name: Wireguard updater
  template:
    src: wireguard-updater.sh.j2
    dest: /usr/local/sbin/wireguard-updater.sh
    owner: root
    group: "{{ root_group|default('root') }}"
    mode: 0755

- name: Add Wireguard updater to cron
  cron:
    name: "Update Wireguard"
    special_time: daily
    job: "/usr/local/sbin/wireguard_update.sh >/dev/null 2>&1"

- name: Set OS specific facts
  set_fact:
    service_name: "wg-quick@{{ wireguard_interface }}"
  tags: always
